/* Colours */
$text: #ffffff;
$background: #23233a;
$primary: #697199;
$secondary: #b0b5cd;
$accent: #858db6;

/* Fonts */
$font-default-size: 16px;
$font-mobile-size: 14px;

/* Responsive break-points - Including mobile as this design was optimized for desktop */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-wrapper-width: 1440px;
